* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/2786a1100531849.5f0c9c33ee413.jpg");
  background-repeat: no-repeat;
  background-position: 60%;
  background-size: cover;
  color: white;
  font-family: Poppins;
}

button,
a {
  cursor: pointer;
}

a,
li {
  list-style: none;
  text-decoration: none;
}
